.section {
    flex-direction: column;
}

.product-heading {
    align-self: flex-start;
    margin-bottom: 1em;
}

.products {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.product {
    background-color: #0b2332;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    border-radius: 8px;
    margin-bottom: 2em;
    transition: transform 0.25s;
}

.product:hover {
    transform: scale(1.05, 1.05);
}

.product-image-wrapper {
    height: 100%;
    flex-shrink: 0;
    display: flex;
}

.product-image {
    border-radius: 8px;
    transition: transform 0.25s;
}

.product-image:hover {
    transform: scale(1.05, 1.05);
}

.product-info {
    height: 80%;
    margin: 0 1.5rem;
    flex-grow: 1;
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
}

.product-info h3 {
    color: #9ac2d5;
    font-size: 1.5rem;
    font-weight: bold;
    padding-bottom: 0.5em;
}

.product-info p {
    padding-bottom: 0.5em;
}

.product-price, .product-rating {
    display: flex;
}

.product-price span, .product-rating span {
    color: #9ac2d5;
    padding-right: 0.25em;
}

.product-description {
    max-height: 40%;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.product-description::-webkit-scrollbar {
    display: none;
}

@media screen and (max-width: 800px) {
    .product-image-wrapper {
        width: 100%;
        height: min-content;
    }

    .product {
        flex-direction: column;
        height: 100%;
    }

    .product:hover {
        transform: none;
    }

    .product-image:hover {
        transform: scale(1.025, 1.025);
    }

    .product-info {
        margin: 1rem 1rem 0.25em 1rem;
        align-self: flex-start;
    }

    .product-info h3 {
        padding-bottom: 1em;
    }

    .product-info p {
        padding-bottom: 0.75em;
    }
}