#registration-form {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.form-field label {
    font-weight: bold;
    color: #9ac2d5;
    padding-bottom: 0.5rem;
}

.form-field .radio-input, .checkbox-input {
    display: flex;
}

.form-field .radio-input div {
    margin: 0 0.5rem;
}

.form-field .radio-input label, .checkbox-input label {
    font-weight: normal;
    color: #fbfded;
}

.form-field input, .form-field textarea, .form-field select {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    padding: 1em;
    border-radius: 8px;
    border: none;
    outline-color: #9ac2d5;
}

.form-field textarea {
    resize: none;
}

.checkbox-input label {
    padding-left: 0.25em;
}

#register-button {
    width: 25%;
    font-weight: bold;
    background-color: #9ac2d5;
    color: #071721;
    transition: all 0.2s;
}

#register-button:hover {
    background-color: #fbfded;
    transform: scale(1.1, 1.1);
}

#register-button:active {
    transform: scale(1, 1);
}

.warning {
    color: red;
    padding-top: 0.5em;
}

@media screen and (max-width: 800px) {
    #registration-form {
        width: 100%;
    }

    #register-button {
        width: 50%;
    }

    #register-button:hover {
        transform: scale(1.05, 1.05);
    }
}